@media (max-width: 1262px) {
	.phantom{
		transform: translate(-140px);
	}

}

@media (max-width: 1199px) {
	html{
		font-size: 14px;
	}

}
@media (max-width: 1136px) {
	.phantom{
		transform: translate(-100px);
	}
	.bg{
		width: 300px;
		height: 300px;
		border-radius: 150px;
	}
	.bg img{
		width: 350px;
		height: auto;
	}
	.sec4 img{
		height: auto;
		width: 608px;
	}

}
@media (max-width: 990px) {
	.phantom h1{
		font-size: 2.75em;
	}
	.phantom p{
		font-size: 0.775em;
	}
	.bg{
		width: 250px;
		height: 250px;
		border-radius: 125px;
	}
	.bg img{
		width: 300px;
		height: auto;
	}
	.features{
		min-height: 100px;
	}
	.features-h3{
		margin-top: 15px;
		margin-bottom: 0;
	}
	.container-mum{
		flex-wrap: wrap;
	}
	.container{
		justify-content: center;
		margin-bottom: 20px;
		
	}
	.tech{
		width: 50%;
	}
	.sec3{
		font-size: 11px;
	}
	.sec4 img{
		height: auto;
		width: 508px;
	}

}
@media (max-width: 880px) {
	.phantom{
		transform: translate(-30px);
	}
	.sec2{
		font-size: 11px;
		min-height: 200px;

	}
	
	.vie button{
		transform: scale(0.8) rotate(-90deg);
	}
	.sec4 img{
		height: auto;
		width: 308px;
	}
	
	
}
@media (max-width: 724px) {
	.phantom{
		transform: translate(0);
	}
	.sec2{
		display: flex;
		flex-wrap: wrap;
		min-height: 350px;
	}
	.fly-higher{
		width: 100%;
		min-height: 50%;
	}
	.tap-to-fly{
		width: 100%;
		min-height: 50%;
	}
	.tap-to-fly div{
		padding: 0;
	}
	.fly1{
		width: 50%;
	}
	.vie{
		width: 50%;
	}
	header{
		max-height: 500px;
	}
	.sec3{
		flex-wrap: wrap;
		font-size: 11px;
	}
	.radio{
		width: 100%;
		height: 60%;
	}
	.new-generation{
		width: 100%;
	}
	.new-generation div h3{
		margin-bottom: 10px;
	}
	.sec4{
		font-size: 11px;
		align-items: flex-end;
		height: 80vh;
	}
	.sec4 div{
	align-self: flex-end;
	}
	.sec4 div h3{
		margin-bottom: 15px;
	}
	.sec4 img{
		margin-bottom: 10%;
	}
	#asd{
		height: 500px;
	}
	@keyframes anim-menu-l {
		100% {
			width: 40%;
		}
	}
	@keyframes anim-menu-r {
		100% {
			width: 0%;
		}
	}
    

	
	
}
@media (max-width: 668px) {
	.tech a{
		margin-top: 10px;
	}
	.scroll-down{
		margin: 0;
		transform: translate(0);
		align-self: center;
	}
	.bg img{
		width: 250px;
		height: auto;
	}
	.sec4 img{
		height: auto;
		width: 208px;
	}
	@keyframes anim-menu-l {
		100% {
			width: 40%;
		}
	}
	@keyframes anim-menu-r {
		100% {
			width: 0%;
		}
	}

}
@media (max-width: 588px) {
	.phantom-parent{
		width: 95%;
	}
	.tech a{
		font-size: 1em;
	}
	.sec4{
		font-size: 9px;
		padding-left: 30px;
	}
	.sec5{
		font-size: 9px;
	}
	footer{
		height: 30vh;
	}
	.bg img{
		width: 220px;
		height: auto;
	}
	@keyframes anim-menu-l {
		100% {
			width: 40%;
		}
	}
	@keyframes anim-menu-r {
		100% {
			width: 0%;
		}
	}

} 
@media (max-width: 499px) {
	.bg{
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}
	.sec4 img{
		transform: translate(-17px);
	}
	@keyframes anim-menu-l {
		100% {
			width: 100%;
		}
	}
	@keyframes anim-menu-r {
		100% {
			width: 0%;
		}
	}
	
}
@media (max-width: 480px) {
	header{
		background: url(../img/bgh1.png) no-repeat center;
		background-size: cover;
	}
	.phantom-parent{
		flex-direction: column;
	}
	.phantom{
		text-align: center;
	}
	.main-first{
		flex-direction: column;
	}
	.fly1 div{
		padding-left: 30px;
		font-size: 9px;
	}
	.container-mum{
		width: 50%
	}
	.container{
		flex-wrap: wrap;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		margin-bottom: 20px;
	}
	.tech{
		width: 300px;
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	.features{
		min-height: 750px;
		padding-top: 15px;
	}
	.features-h3{
		margin-bottom: 20px;
	}
	.sec3{
		font-size: 9px;
	}
	.sec4{
		min-height: 300px;height: 70vh;
	}
	.sec4 div{
		align-self: center;
	}
	.sec4 div button{
		margin-bottom: 0;
	}
	
	.sec4 img{
		height: auto;
		width: 208px;
	}
}
@media (max-width: 430px) {
	.sec4{
		font-size: 11px;
	}
	.sec4 div{
		align-self: center;
	}
	.sec4 img{
		transform: scale(1.4);
	}
	.sec4 img{
		height: auto;
		width: 178px;
		transform: translate(-40px);
	}
}
@media (max-width: 390px) {
	.sec4{
		font-size: 8px;

	}
	.sec4 img{
		height: auto;
		width: 178px;
		transform: translate(-60px);
	}
}
